<div>
  <h1>Modifica Lavoro (ID: <%= @job.id %>)</h1>

  <%= render "form", job: @job %>

  <br>

  <div>
    <%= link_to "Torna al Lavoro", @job %> |
    <%= link_to "Torna alla Lista", jobs_path %>
  </div>
</div>
