<% if object.errors.any? %>

  <div role="alert" class="alert alert-error">

    <span>
      <%= pluralize(object.errors.count, "errore") %>
      impediscono il salvataggio
    </span>

    <ul class="list-disc ml-4">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  </div>

<% end %>
