<%= render layout: "layouts/autocomplete_results", locals: { query: params[:query], js_controller: "multi-autocomplete" } do %>

  <% if @locations.any? %>
    <% @locations.each do |location| %>
      <li>
        <a class="cursor-pointer"
           data-action="click->multi-autocomplete#select"
           data-id="<%= location.id %>"
           data-name="<%= location.name %>">
          <%= location.name %>
        </a>
      </li>
    <% end %>
  <% else %>
    <li class="disabled"><a class="text-base-content/50 italic">Nessuna location trovata</a></li>
  <% end %>

<% end %>
