<div class="w-full max-w-[15rem] max-lg:hidden xl:ms-4">
  <button class="input input-ghost hover:bg-base-200 focus-visible:bg-base-200 cursor-pointer transition-colors focus:outline-none"
          onclick="window.dispatchEvent(new Event('omnibox:open'))">
    <span class="grow text-left">Cerca ovunque...</span>
    <kbd class="kbd kbd-sm font-mono opacity-50">
      <span class="me-1 text-sm">⌘</span>K
    </kbd>
  </button>
</div>
